
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
  --pink:#EE0548;
  --black:#130f40;
}

*{
  font-family: 'Roboto Condensed', sans-serif;
  margin:0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  transition: .2s linear;
  text-transform: capitalize;
}

*::selection{
  background: #CA6F1E;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body{
  background-color: #D2B4DE;
}

section{
  padding:3rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:#fff;
}
.heading{
  padding-bottom: 2rem;
  text-align: center;
}
.heading img{
  width: 60rem;
  height: 7rem;
}

.heading h1{
  font-size: 5rem;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: bold;
}
.heading p{
  text-indent: 50px;
  font-size: 2rem;
  color:var(--black);
  margin: 45px;

}

.audio {
 display: block;
 position: fixed;
 top: 300px;
 right: 10px;
 margin-right: 10px;
 width: 20px;
}


header{
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 10000;
  background-color: #e7c7d3;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  font-size: 3.5rem;
  color: var(--black);
  font-weight: bold;
}

header .navbar a{
  color:  var(--black);
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: bold;
}

header .navbar a:hover{
  color:var(--pink);
}

#menu-bar{
  font-size:3rem;
  color:pink;
  border-radius: .5rem;
  border:.1rem solid #fff;
  padding:.5rem 1.5rem;
  cursor: pointer;
  display: none;
}


.dropbtn {
  padding: 10px;
  font-size: 21px;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background:#e7c7d3;
  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 13px 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--pink);
  
}

.dropdown:hover .dropdown-content {
  display: block;
}



.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image:url("image/cover-home.jpg");
  background-size: cover;
  background-position: center;
}

.home .content span{
  font-size: 5rem;
  color:var(--pink); 
}

.home .content h3{
  font-size: 6rem;
  color: white;
  width:60rem;
}


.profil .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profil .box-container .box{
  border-radius: .5rem;
  padding:4.7rem 2rem;
  text-align: center;
  background-size: cover;
  flex:1 1 33rem;
}

.profil .box-container .box h3{
  font-size: 2.5rem;
  color: black;
}

.profil .box-container .box span{
  font-size: 2rem;
  color:var(--pink);
}

.profil .box-container .box p{
  font-size: 1.5rem;
  color: black;
  padding:1rem 0;
}

.profil .box-container .box .share{
  padding:1rem 0;
}

.profil .box-container .box .share a{
  height: 4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  color:var(--black);
  background:#e7c7d3;
}

.profil .box-container .box .share a:hover{
  color:#fff;
  background: var(--pink);
}

.contact form{
  padding:2rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.9);
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
  border:.2rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  padding: 1.5rem;
  margin: 1rem 0;
  text-transform: none;
  color:#333;
}

.contact form .inputBox input{
  width:49%;
}

.contact form textarea{
  height: 15rem;
  width:100%;
  resize: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
  border-color: var(--pink);
}

.blog .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog .box-container .box{
  background:#fff;
  margin:1rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
  overflow: hidden;
  flex:1 1 30rem;
}

.blog .box-container .box img{
  height:25rem;
  width:100%;
  object-fit: cover;
}

.blog .box-container .box .info{
  padding:2rem;
}

.blog .box-container .box .info h3{
  color:var(--black);
  font-size: 2.5rem;
}

.blog .box-container .box .info h3 span{
  color:var(--pink);
  font-weight: bolder;
}

.blog .box-container .box .info p{
  color: #333;;
  font-size: 1.5rem;
  padding:1rem 0;
}

.tanggal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tanggal .step{
  background: #D0D3D4;
  margin:1rem;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
  text-align: center;
  flex:1 1 30rem;
}

.tanggal .step span{
  font-size: 7rem;
  color:var(--pink);
  font-weight: bolder;
}

.tanggal .step h3{
  font-size: 3rem;
  color:var(--black);
}

.tanggal .step p{
  font-size: 1.5rem;
  color: var(--black);
  padding:1rem 0;
}



#map .section_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 266px;
  height: 50px;
  border: none;
  outline-style: none;
  background-color: #e7c7d3;;
}

.btn_map:hover {
  background-color: #d9d9d9;
  box-shadow: 3px 5px 8px black;
}

.kado-ampau{
  text-align: center;
}

.kado-ampau h1{
  font-size: 5rem;
  color: var(--black);
  padding-bottom: 1rem;
}
.kado-ampau p{
  text-indent: 50px;
  font-size: 3rem;
  color:black;
}
.kado-ampau btn :hover{
  color:var(--pink);
}

.kado-ampau btn{
  background-color: #e7c7d3;
  border: none;
  color: black;
  padding: 20px 32px;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  margin: 50px;
}


.form_buku_tamu {
  width: 700px;
  height: 500px;
  background-color: #e7c7d3;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.199);
  padding: 50px 70px;
  gap: 25px;
  justify-content: center;
  
  
}

.form_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.form_group input {
  width: 484px;
  height: 44px;
  border: 1px solid #e7c7d3;
  padding: 0 10px;

}

.form_wrapper button {
  background-color: black;
  border: none;
  outline: none;
  width: 150px;
  height: 44px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  justify-content: center;
 
}





.story .row{
  display: flex;
}

.story .row .divider{
  padding:0 1rem;
}

.story .row .box-container .box img{
  height: 30rem;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
  border:2rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
}

.story .row .box-container .box .info{
  padding:2rem 0;
}

.story .row .box-container .box .info h3{
  font-size: 2.5rem;
  color:var(--black);
}

.story .row .box-container .box .info p{
  font-size: 1.7rem;
  color: black;
  padding:1rem 0;
  font-style: italic;
}

.story .row .box-container .box .info p i{
  color:var(--pink);
  padding:0 .5rem;
}

.galery .box-container{
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.galery .box-container .box{
  flex:1 1 30rem;
  margin:1rem;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.9);
  height: 25rem;
  cursor: pointer;
}

.galery .box-container .box p{
  text-indent: 50px;
  font-size: 2rem;
  color:var(--black);
  margin: 15px;
}

.galery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.galery .box-container .box .info{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background: transform;
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
}
.galery .box-container .box:hover .info{
  transform: scale(1);
  opacity: 1;
}

.galery .box-container .box:hover img{
  transform: scale(1.3);
}

.galery .box-container .box .info h3{
  font-size: 3rem;
  color:var(--black);
}



video {
  width: 53rem;
  height: 390px
  margin: 1px;
  display: inine;
}

iframe {
    width: 53rem;
    height: 290px;
    margin: 10px;
    display: inine;
}

.form_war {
  width: inherit;
  height: 367px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;
 
  transition-duration: 5s;
}

.form_war:hover {
  background-position: top;
  align-items: center;
}

.kunjungan {
  align-items: center;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  gap: 25px;
  justify-content: center;

}

.form_klub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.form_klub input {
  align-items: center;
  width: 650px;
  height: 44px;
  border: 1px solid #e7c7d3;
  padding: 10px 20px;
}

.form_war button {
  background-color: black;
  align-items: center;
  border: none;
  outline: none;
  width: 300px;
  height: 200px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
}

input[type=text], select {
  align-items: center;
  width: 650px;
  height: 44px;
  padding: 0 10px;
  margin: 4px0;
  display: inline-block;
  border: 1px solid #e7c7d3;
  border-radius: 4px;
  box-sizing: border-box;
}

.daftar-menu{
 text-align: center;
  
}
.daftar-menu h1{
  margin: 50px;
  font-size: 5rem;
  color: var(--black);
}
.daftar-menu p{
    text-indent: 50px;
    font-size: 2rem;
    color:var(--black);
    margin: 10px;
  
}

.ol{
  
  padding: 10px;
  list-style-type: upper-roman;
  margin-left: 33rem;
  font-size: 2.6rem;
  color:var(--black);
}

.bridesmaide .bridesmaide-mode{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bridesmaide .bridesmaide-mode mode{
  margin:1rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
  
  padding:4.7rem 2rem;
  text-align: center;
  background-size: cover;
  flex:1 1 33rem;
}

.bridesmaide .bridesmaide-mode .mode img{
  border-radius: 80%;
  object-fit: cover;
  height: 20rem;
  width:20rem;
  padding:0rem;
}

.bridesmaide .bridesmaide-mode .mode h3{
  font-size: 2.5rem;
  color:var(--black);
  text-align: center;
}

.bridesmaide .bridesmaide-mode .mode span{
  font-size: 2rem;
  color:var(--pink);
}

.bridesmaide .bridesmaide-mode .mode p{
  font-size: 1.5rem;
  color: black;
  padding:1rem 0;
}

.bridesmaide .bridesmaide-mode .mode .share{
  padding:1rem 0;
  text-align: center;
}

.bridesmaide .bridesmaide-mode .mode  .share a{
  height: 4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  color:var(--black);
  background:#e7c7d3;;
}

.bridesmaide .bridesmaide-mode .mode  .share a:hover{
  color:#fff;
  background: var(--pink);
}

.acara{
  padding-bottom: 2rem;
  text-align: center;
}

.acara h1{
  font-size: 5rem;
  color: var(--black);
  padding-bottom: 1rem;
 
}
.acara p{
  text-indent: 50px;
  font-size: 2rem;
  color:var(--black);
  margin: 15px;

}

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    text-indent: 60px;
  }
  
  #customers td, #customers th {
    border: 1px solid #f2f2f2;
    padding: 8px;
    text-indent: 60px;
    background:#e7c7d3;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-indent: 60px;
    background-color: #e7c7d3;
    color: white;
  }
  table, th, td {
    border: 1px solid black;
    align-items: center;
  }

.hidangan {
  padding: 10px;
  list-style-type: upper-roman;
  margin-left: 45rem;
  font-size: 2.6rem;
  color:var(--black);
}
.hidangan li{
  font-size : 20px;
  align-items: center;
  padding: 5px;
  display: inine;
  
}
.hidangan h1{
  font-size: 30rem;
  margin: 30px;
}


.sampingan {
  padding: 10 px;
  list-style-type: upper-roman;
  margin-left: 45rem;
  font-size: 2.6rem;
  color:var(--black);
}

dl {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  display: inine;
}


  .footer {
    text-align: center;
    padding: 1rem 7%;
    background-color:#e7c7d3;
    color: white;
    font-size:18px;
  }
  .footer p{
    color: var(--black);
  }

/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:var(--black);
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    background:#fff;
    border-radius: .5rem;
    color:var(--black);
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
  }

  .home{
    justify-content: center;
    background-position: left;
  }

  .home .content{
    text-align: center;
  }

  .home .content span{
    font-size: 2rem;
  }

  .home .content h3{
    font-size: 4rem;
    width:auto;
  }

  .clients .row{
    flex-flow: column;
  }

  .clients .row .divider{
    display: none;
  }

  .clients .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
